/* ----------------ESTILOS GLOBALES--------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/* ----------------------------------------------- */

/* ----------------HEADER--------------- */
.Header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 77px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.Header__logo {
    width: 120px;
    display: flex;
    justify-content: center;
}
.Header__logo figure {
    width: 80px;
    height: 31px;
}
.Header__nav ul {
    display: flex;
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.Header__nav ul li {
    line-height: 77px;
    padding: 0 10px;
    margin: 0 10px;
}
.Header__nav ul li:hover {
    box-shadow: inset 0px 4px 0px 0px rgb(90, 191, 232);
    cursor: pointer;
}
.Header__login {
    width: 160px;
    display: flex;
    justify-content: center;
}
.Header__login a {
    font-size: 16px;
    padding: 11px 25px;
    border: 1px solid rgba(31, 118, 255, 1);
    border-radius: 30px;
    text-decoration: none;
    color: rgba(31, 118, 255, 1);
}
.Header__login a:hover {
    background-color: rgba(58, 121, 246, 0.85);
    border-color: rgba(31, 118, 255, 1);
    color: #ffffff;

}
/* ----------------------------------------------- */

/* ----------------SECCION PRINCIPAL--------------- */
.Slider {
    width: 100%;
    height: 956px;
    position: relative;
    background-image: url(https://static.wixstatic.com/media/028786_693c591fde1040608b6014d7b26c5d6a~mv2.jpg/v1/fill/w_1905,h_956,al_c,q_85,usm_0.66_1.00_0.01/028786_693c591fde1040608b6014d7b26c5d6a~mv2.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.Slider__description {
    width: 760px;
    margin-top: 225px;
}
.Slider__description h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 54px;
    text-align: center;
    color: #ffffff;
}
.Slider__description--link {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
/* .Slider img {
    height: auto;
    object-fit: cover;
    vertical-align: baseline;
} */
.Slider__description a {
    padding: 16px 38px;
    border-radius: 30px;
    border: 0;
    background-color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #3182C8;
}
/* ------------------------------------------------------ */